
<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div>
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="fa fa-youtube-play" style="font-size:25px;color:red; text-decoration:none" href="https://www.youtube.com/"></a>&nbsp;&nbsp;
            <a class="fa fa-envelope" style="font-size:25px;color:white; text-decoration:none" href="https://accounts.google.com/InteractiveLogin/signinchooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&ifkv=AVQVeyzw93eVGfzFoBaqf2f9rSZLcGwA5P3aCGBkDWp_HhyJrGfID6HChkdM6YWbFoj_WjBNRVupXA&theme=glif&flowName=GlifWebSignIn&flowEntry=ServiceLogin"></a>&nbsp;&nbsp;
            <a class="fa fa-twitter" style="font-size:25px;color:skyblue; text-decoration:none" href="https://developer.twitter.com/en/docs/authentication/guides/log-in-with-twitter"></a>&nbsp;&nbsp;
            <a class="fa fa-linkedin-square" style="font-size:25px;color:blue; text-decoration:none" href="https://in.linkedin.com/?src=go-pa&trk=sem-ga_campid.14650114788_asid.151761418307_crid.657403558718_kw.linkedin%20website_d.c_tid.kwd-10521864532_n.g_mt.e_geo.9299464&mcid=6844056167778418689&cid=&gclid=EAIaIQobChMInafLj5qGggMV2QJyCh2N1wXCEAAYASAAEgL2nfD_BwE&gclsrc=aw.ds"></a>&nbsp;&nbsp;
            <a class="fa fa-github" style="font-size:25px;color:green; text-decoration:none" href="https://github.com/"></a>
            
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2); font-size: 10px;">
        © 2023 Copyright:
        <a class="text-white" routerLink="maintenance" >Mohit Patidar</a>
    </div>
    <!-- Copyright -->
</footer>