
<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div>
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="fa fa-youtube-play" style="font-size:35px;color:red; text-decoration:none"></a>&nbsp;&nbsp;
            <a class="fa fa-envelope" style="font-size:35px;color:white; text-decoration:none"></a>&nbsp;&nbsp;

            <a class="fa fa-twitter" style="font-size:35px;color:skyblue; text-decoration:none"></a>&nbsp;&nbsp;
            <a class="fa fa-linkedin-square" style="font-size:35px;color:blue; text-decoration:none" href="#"></a>&nbsp;&nbsp;
            <a class="fa fa-github" style="font-size:35px;color:green; text-decoration:none" href="#"></a>
            
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" routerLink="maintenance" >Mohit & Aakanksha</a>
    </div>
    <!-- Copyright -->
</footer>