<nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg text-white">
    <div class="container-fluid" style="background-color: #020403; height: 100px;">



        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div>
                <span style="justify-content: start; font-size: xxx-large; font-family: sans-serif;">Live Virtual Class</span>
            </div>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse " id="navbarCenteredExample" style="justify-content: end; text-align: center;">
                <!-- Left links -->
                

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active navbaritems" aria-current="page" href="#"
                            style="color: white;">Home</a>
                    </li>


                    <!-- Navbar dropdown -->
                    <div class="dropdown navbaritems">
                        <button class="btn btn-secondary dropdown-toggle" style="background-color: #020403"
                            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Courses
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item"
                                    href="https://learn.microsoft.com/en-us/training/modules/introduction-to-powershell/">Powershell</a>
                            </li>
                            <li><a class="dropdown-item" href="https://docs.python.org/3/tutorial/index.html">Python</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="https://www.linux.org/forums/linux-beginner-tutorials.123/">Linux</a></li>
                        </ul>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link navbaritems" routerLink="registration">Registration</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link navbaritems" routerLink="gallery">Gallery</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link navbaritems" routerLink="contact">Contact Us</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->


    </div>
</nav>