<!-- <div class="row">
	<a href="../../assets/images/playground image.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../../assets/images/playground image.jpg" class="img-fluid">
	</a>
	<a href="../../assets/images/student with teacher.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../../assets/images/student with teacher.jpg" class="img-fluid">
	</a>
	<a href="../../assets/images/students-looking-at-screen-1000x600.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../../assets/images/students-looking-at-screen-1000x600.jpg" class="img-fluid">
	</a>
</div>
<div class="row">
	<a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
	</a>
	<a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
	</a>
	<a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
	</a>
</div> -->


<!--------------------------------------------MAIN CODE--------------------------------------------->
<br>
<section style="margin-bottom: 100px;">
<div class="container" >
	<div class="row">
	  <div class="col-sm">
		<div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel" >
			<div class="carousel-indicators" >
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner round-corner" >
			  <div class="carousel-item active" >
				<img src="./assets/images/img1.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="./assets/images/img2.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			  <div class="carousel-item" >
				<img src="./assets/images/img3.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  <div class="carousel-control-prev-icon" aria-hidden="true"></div>
			  <div class="visually-hidden">Previous</div>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			  <div class="carousel-control-next-icon" aria-hidden="true"></div>
			  <div class="visually-hidden">Next</div>
			</button>
		</div>
	  </div>
	  <div class="col-sm" style="padding-left: 5px;">
		<div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel" >
			<div class="carousel-indicators" >
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner round-corner"  >
			  <div class="carousel-item active " class="bg-image hover-overlay" >
				<img src="./assets/images/G1.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="./assets/images/G2.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			  <div class="carousel-item" >
				<img src="./assets/images/G3.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  <div class="carousel-control-prev-icon" aria-hidden="true"></div>
			  <div class="visually-hidden">Previous</div>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			  <div class="carousel-control-next-icon" aria-hidden="true"></div>
			  <div class="visually-hidden">Next</div>
			</button>
		</div>
	  </div>
	  <div class="col-sm" style="padding-left: 5px;">
		<div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel">
			<div class="carousel-indicators" >
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner round-corner">
			  <div class="carousel-item active " >
				<img src="./assets/images/K1.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="./assets/images/K2.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			  <div class="carousel-item" >
				<img src="./assets/images/K3.jpg" class="d-block w-100" style="height: 150px;" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  <div class="carousel-control-prev-icon" aria-hidden="true"></div>
			  <div class="visually-hidden">Previous</div>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			  <div class="carousel-control-next-icon" aria-hidden="true"></div>
			  <div class="visually-hidden">Next</div>
			</button>
		</div>
	  </div>
	</div>
  </div>
</section>







<!-- <div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel" >
	<div class="carousel-indicators" >
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner round-corner" >
	  <div class="carousel-item active" >
		<img src="./assets/images/img1.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="./assets/images/img2.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	  <div class="carousel-item" >
		<img src="./assets/images/img3.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <div class="carousel-control-prev-icon" aria-hidden="true"></div>
	  <div class="visually-hidden">Previous</div>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <div class="carousel-control-next-icon" aria-hidden="true"></div>
	  <div class="visually-hidden">Next</div>
	</button>
</div>
 -->


  <!-- <div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel" >
	<div class="carousel-indicators" >
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner round-corner"  >
	  <div class="carousel-item active "  >
		<img src="../../assets/images/G1.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="../../assets/images/G2.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	  <div class="carousel-item" >
		<img src="../../assets/images/G3.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <div class="carousel-control-prev-icon" aria-hidden="true"></div>
	  <div class="visually-hidden">Previous</div>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <div class="carousel-control-next-icon" aria-hidden="true"></div>
	  <div class="visually-hidden">Next</div>
	</button>
</div> -->


  <!-- <div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel">
	<div class="carousel-indicators" >
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner round-corner">
	  <div class="carousel-item active " >
		<img src="../../assets/images/K1.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="../../assets/images/K2.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	  <div class="carousel-item" >
		<img src="../../assets/images/K3.jpg" class="d-block w-100" style="height: 150px;" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <div class="carousel-control-prev-icon" aria-hidden="true"></div>
	  <div class="visually-hidden">Previous</div>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <div class="carousel-control-next-icon" aria-hidden="true"></div>
	  <div class="visually-hidden">Next</div>
	</button>
</div> -->