<div class="container">
  <div class="row" >
    <div class="col-sm" >
      <div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel" style=" padding: 0%; margin: 0% ;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner round-corner">
          <div class="carousel-item active ">
            <img src="./assets/images/img1.jpg" class="d-block w-100" style="height: 200px;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/img2.jpg" class="d-block w-100" style="height: 200px;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/img3.jpg" class="d-block w-100" style="height: 200px;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm" style="background-color: #353839; border-radius: 8px;">
      <div class="some-text" style="padding-top: 5px; font-size: 20px; font-family: cursive;">
        <div style="color: #0d8ce1; text-align: center;"><b>Welcome to my class</b></div><br>
        <div style="color: white; text-align: center; font-size: 15px;" >Using live online classes also allows for instant feedback, which helps improve student engagement. Teachers can also record their live classes to share them with students later. One of the primary benefits of live online classes is that they allow students to work within their preferred primary learning style.</div>
      </div>
    </div>

  </div>
</div>







<!-- <div id="carouselExampleIndicators" class="carousel slide slider-width " data-bs-ride="carousel" >
  <div class="carousel-indicators" >
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner round-corner">
    <div class="carousel-item active " >
      <img src="./assets/images/img1.jpg" class="d-block w-100" style="height: 200px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/img2.jpg" class="d-block w-100" style="height: 200px;" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="./assets/images/img3.jpg" class="d-block w-100" style="height: 200px;" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->